{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Hero Section with Background Image -->
<section class="hero-section text-center py-3 bg-dark">
    <div class="container">
        <h1 class="display-4 text-white">Level-up Your Music Production with BeatClique</h1>
        <p class="lead text-white">Discover a wide range of unique, high-quality sound kits created by our team of music producers.</p>
        <div class="my-4">
            <!-- Explore Soundkits button, now centralized and green -->
            <a href="{% url 'soundkit_list' %}" class="btn btn-success explore-button" style="margin-top: 20px;">Explore Soundkits</a>
        </div>
    </div>
</section>


<!-- Carousel Section -->
<section class="carousel-section" style="background-color: #212529;">
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row g-1">
                    <div class="col-3">
                        <img src="{% static 'images/carousel/polo.jpg' %}" class="img-fluid rounded" alt="Polo">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'images/carousel/rebirth.png' %}" class="img-fluid rounded" alt="Rebirth">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'images/carousel/resurgence.jpg' %}" class="img-fluid rounded" alt="Resurgence">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'images/carousel/orbit.png' %}" class="img-fluid rounded" alt="Orbit">
                    </div>
                </div>
            </div>
            <!-- Second set of images -->
            <div class="carousel-item">
                <div class="row g-1">
                    <div class="col-3">
                        <img src="{% static 'images/carousel/polo.jpg' %}" class="img-fluid rounded" alt="Polo">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'images/carousel/rebirth.png' %}" class="img-fluid rounded" alt="Rebirth">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'images/carousel/resurgence.jpg' %}" class="img-fluid rounded" alt="Resurgence">
                    </div>
                    <div class="col-3">
                        <img src="{% static 'images/carousel/orbit.png' %}" class="img-fluid rounded" alt="Orbit">
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel controls can be implemented later if needed -->
    </div>
</section>

<!-- Testimonials Section -->
<section class="testimonials py-4 bg-secondary">
    <div class="container">
        <h2 class="text-center text-white mb-4">Customer Testimonials</h2>
        <div class="row">
            <!-- Testimonial 1 -->
            <div class="col-md-4 mb-3">
                <div class="card testimonial-card" id="testimonial1">
                    <div class="card-body">
                        <p class="card-text">"These sound kits have taken my music production to the next level!"</p>
                        <footer class="blockquote-footer">Jordan, Music Producer <br> <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></footer>
                    </div>
                </div>
            </div>
            <!-- Testimonial 2 -->
            <div class="col-md-4 mb-3">
                <div class="card testimonial-card" id="testimonial2">
                    <div class="card-body">
                        <p class="card-text">"BeatClique's sound kits are a game-changer for my music projects!"</p>
                        <footer class="blockquote-footer">Taylor, Beat Maker <br> <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></footer>
                    </div>
                </div>
            </div>
            <!-- Testimonial 3 -->
            <div class="col-md-4 mb-3">
                <div class="card testimonial-card" id="testimonial3">
                    <div class="card-body">
                        <p class="card-text">"I would highly recommend these sound kits to any aspiring music producer!"</p>
                        <footer class="blockquote-footer">Alex, DJ <br> <span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span><span class="fa fa-star checked"></span></footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Frequently Asked Questions Section -->
<section class="faq-section py-0">
    <div class="container">
        <h2 class="text-center mb-4">Frequently Asked Questions</h2>
        <div class="accordion" id="faqAccordion">
            <!-- FAQ 1 -->
            <div class="accordion-item">
                <h3 class="accordion-header" id="faqHeading1">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse1" aria-expanded="true" aria-controls="faqCollapse1">
                        Are the products I purchase royalty-free?
                    </button>
                </h3>
                <div id="faqCollapse1" class="accordion-collapse collapse show" aria-labelledby="faqHeading1" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Soundkits are royalty-free EXCEPT for major placements (this means 500k+ monthly listeners on Spotify, as well as any sync placements). This means you do not need to split beat sales from Youtube/Beatstars.
                    </div>
                </div>
            </div>
            <!-- FAQ 2 -->
            <div class="accordion-item">
                <h3 class="accordion-header" id="faqHeading2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse2" aria-expanded="false" aria-controls="faqCollapse2">
                        What happens if anything gets placed with a sample from us?
                    </button>
                </h3>
                <div id="faqCollapse2" class="accordion-collapse collapse" aria-labelledby="faqHeading2" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        We guarantee easy and hassle-free clearance if anything gets placed with a sample from our website
                    </div>
                </div>
            </div>
            <!-- FAQ 3 -->
            <div class="accordion-item">
                <h3 class="accordion-header" id="faqHeading3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse3" aria-expanded="false" aria-controls="faqCollapse3">
                        When will I receive my downloads?
                    </button>
                </h3>
                <div id="faqCollapse3" class="accordion-collapse collapse" aria-labelledby="faqHeading3" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Downloads of your purchased products will be instantly generated. If for any reason this does not happen, feel free to email us, and we will get back to you ASAP.
                    </div>
                </div>
            </div>
            <!-- FAQ 4 -->
            <div class="accordion-item">
                <h3 class="accordion-header" id="faqHeading4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faqCollapse4" aria-expanded="false" aria-controls="faqCollapse4">
                        Are refunds available?
                    </button>
                </h3>
                <div id="faqCollapse4" class="accordion-collapse collapse" aria-labelledby="faqHeading4" data-bs-parent="#faqAccordion">
                    <div class="accordion-body">
                        Since our products are digital, we cannot offer refunds for any orders. If you are unsatisfied with your purchase or feel misinformed about a product, send us an email, and we will do our best to work with you.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Newsletter Subscription Section -->
<section class="newsletter-section py-5 bg-dark">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3 mb-0">
                <h2 class="text-light mb-3">Newsletter 📰</h2>
                <p class="lead text-light">Sign up to receive updates from us!</p>
                <form class="form-inline">
                    <div class="input-group mb-3">
                        <input type="email" class="form-control" placeholder="Enter your email" aria-label="Enter your email" aria-describedby="button-addon2">
                        <button class="btn btn-primary" type="button" id="button-addon2">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



{% endblock %}
