/* Custom container for a wider layout */
.container-custom {
    max-width: 1440px; /* Wider container */
    margin: 0 auto; /* Center the container */
}

/* Global styles */
body {
    font-family: 'Lato', sans-serif;
    color: #333333; /* Dark Gray text */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Hero Section styles */
/* Define colors for the buttons */
.explore-button {
    background-color: #007bff; /* Blue color */
    border-color: #007bff;
}

.register-button {
    background-color: #28a745; /* Green color */
    border-color: #28a745;
}

/* On hover, slightly darken the buttons */
.explore-button:hover {
    background-color: #0056b3; /* Darker blue */
    border-color: #0056b3;
}

.register-button:hover {
    background-color: #218838; /* Darker green */
    border-color: #218838;
}


/* Styles for sound kit cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin-bottom: 20px; /* Add space between cards */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%; /* Image fills the card width */
}

.card-body {
    padding: 15px;
    text-align: center;
}

/* Additional custom styles */
.checked {
    color: #FFD700; /* Gold */
}

/* Custom styles for rounded images */
.rounded {
    border-radius: 10px; /* Rounded corners */
}

/* Testimonials Section styles */
.testimonials {
    background-color: #212529 !important; /* Slate Obsidian Gray */
    padding: 40px 0;
}
/* FAQs styles */

.faq-section {
    background-color: #212529; /* Dark Gray (Bootstrap bg-dark) */
    padding: 40px 0;
    color: #fff; /* Set text color to white */
}
    /* Accordion questions */
    .accordion-button {
        font-weight: 600;
        color: #06140e; /* Navbar Hex Color */
        font-size: 18px;
    }

    /* Accordion answers */
    .accordion-body {
        font-weight: normal;
        color: #333333;
        font-style: normal; 
        padding-left: 20px;
    }
    /* Accordion answers */
    .accordion-body {
        font-weight: normal;
        color: #0f0f0f; /* Set text color to white */
        font-style: normal;
        padding-left: 20px;
    }

/* Responsive adjustments */
@media (max-width: 768px) {
    .container-custom {
        max-width: 100%; /* Adjust to full width on smaller screens */
    }

    /* Will add other responsive styles here */
    .card {
        margin: 0 0 20px; /* Reduce card margin on smaller screens */
    }
}
