/* Custom container for a wider layout */
.container-custom {
    max-width: 1440px; /* Wider container */
    margin: 0 auto; /* Center the container */
}

/* Global styles */
body {
    font-family: 'Lato', sans-serif;
    background-color: #F7F4EE; /* Off White */
    color: #333333; /* Dark Gray text */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Styles for sound kit cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #e1dfda; /* Card Background */
    margin-bottom: 20px; /* Add space between cards */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%; /* Make sure the image fills the card width */
}

.card-body {
    padding: 15px;
    text-align: center;
    background-color: #e1dfda; /* Card Background */
}

/* Additional custom styles */
.checked {
    color: #FFD700; /* Gold */
}

/* Custom styles for rounded images */
.rounded {
    border-radius: 10px; /* Rounded corners */
}

/* Testimonials Section styles */
.testimonials {
    background-color: #212529 !important; /* Slate Obsidian Gray with !important */
    padding: 40px 0;
}

/* Accordion questions */
.accordion-button {
    font-weight: 600;
    color: #06140e; /* Navbar Hex Color */
    font-size: 18px;
}

/* Accordion answers */
.accordion-body {
    font-weight: normal;
    color: #333333;
    font-style: bold;
    padding-left: 20px;
}

/* FAQ Section styles */
.faq-section {
    background-color: #212529; /* Dark Gray (Bootstrap bg-dark) */
    padding: 40px 0;
    color: #fff; /* Set text color to white */
}

/* Accordion answers */
.accordion-body {
    font-weight: normal;
    color: #0f0f0f; /* Set text color to white */
    font-style: bolder;
    padding-left: 20px;
}


/* Responsive adjustments */
@media (max-width: 768px) {
    .container-custom {
        max-width: 100%; /* Adjust to full width on smaller screens */
    }

    /* Add any other responsive styles here */
    .card {
        margin: 0 0 20px; /* Reduce card margin on smaller screens */
    }
}
