{% extends 'base.html' %}
{% load static %}

{% block title %}Update Account - BeatClique{% endblock %}

{% block content %}

<section class="bg-dark d-flex justify-content-center align-items-center min-vh-100">
    <div class="container">
        <div class="card bg-white">
            <div class="card-body">
                <h2 class="text-center mb-4"><i class="fas fa-user"></i> Update Your Account</h2>
                
                <!-- Display non-field errors -->
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}

                <!-- Display form for updating account details -->
                <form method="post" action="{% url 'accounts:account_update' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <!-- Manually rendering the email field -->
                        <input type="email" name="email" id="email" class="form-control" value="{{ form.email.value|default_if_none:'' }}" aria-describedby="emailHelp">
                        {% if form.email.errors %}
                            {% for error in form.email.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            <div id="emailHelp" class="form-text">Enter your new email address</div>
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}
