{% extends 'base.html' %}
{% load static %}

{% block title %}Account - BeatClique{% endblock %}

{% block content %}
<section class="bg-dark d-flex justify-content-center align-items-center min-vh-100">
    <div class="container">
        <div class="card bg-white">
            <div class="card-body">
                <!-- Badge for superuser -->
                {% if request.user.is_superuser %}
                <div class="text-center mb-3">
                    <div class="alert alert-warning fs-4" role="alert">
                        Superuser
                    </div>
                </div>
                <!-- Button to take superuser to dashboard -->
                <div class="text-center mb-3">
                    <a href="{% url 'home' %}" class="btn btn-primary btn-md" aria-label="Dashboard">Dashboard</a>
                </div>
                {% endif %}
                <!-- Common content for all users -->
                {% if not request.user.is_superuser %}
                <!-- Heading for the account -->
                <h2 class="text-center mb-4">Your Account <i class="fa-solid fa-user ms-2"></i></h2>
                <!-- Displaying username -->
                <div class="text-center mb-3">
                    <h3>Username:</h3>
                    <p>{{ request.user.username }}</p>
                </div>
                <!-- Displaying user information with the option to update email -->
                <div class="text-center mb-3">
                    <form method="post" action="{% url 'accounts:account_update' %}">
                        {% csrf_token %}
                        <div class="row mb-3 justify-content-center">
                            <div class="col-md-6">
                                <label for="email" class="h4">Email:</label>
                                <input type="email" id="email" name="email" class="form-control" value="{{ request.user.email }}" aria-describedby="emailHelp">
                            </div>
                            <div class="col-md-2 align-self-end">
                                <button type="submit" class="btn btn-primary btn-block">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Button to navigate to order history (only visible for non-superusers) -->
                <hr>
                <h3 class="text-center my-3">Purchase History</h3>
                <div class="text-center">
                    <a href="{% url 'payments:order_history' %}" class="btn btn-info" aria-label="View Order History">View Order History</a>
                </div>
                <!-- Go to Soundkits button -->
                <div class="text-end mt-3">
                    <a href="{% url 'soundkit_list' %}" class="btn btn-primary" aria-label="Go to Soundkits"><i class="fas fa-arrow-left me-2"></i> Go to Soundkits</a>
                </div>
                {% endif %}
                <!-- Logout button -->
                <div class="text-center mt-3">
                    <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-md" aria-label="Logout">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
