{% extends 'base.html' %}
{% load static %}

{% block title %}Account - BeatClique{% endblock %}

{% block content %}
<section class="bg-dark d-flex justify-content-center align-items-center min-vh-100">
    <div class="container">
        <div class="card bg-white">
            <div class="card-body">
                <h2 class="text-center mb-4"><i class="fa-solid fa-user"></i> Your Account</h2>
                <!-- Displaying user information with the option to update -->
                <form method="post" action="{% url 'account_update' %}">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h4>Username:</h4>
                            <p>{{ request.user.username }}</p>
                        </div>
                        <div class="col-md-6">
                            <h4>Email:</h4>
                            <!-- Email field allows for updates -->
                            <input type="email" name="email" class="form-control" value="{{ request.user.email }}">
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </form>
                <hr>
                <h3 class="text-center mb-3">Purchase History</h3>
                <!-- Button to navigate to order history -->
                <div class="text-center">
                    <a href="{% url 'payments:order_history' %}" class="btn btn-info">View Order History</a>
                </div>
                <!-- Logout -->
                <div class="text-center mt-3">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
