{% extends 'base.html' %}
{% load static %}

{% block title %}Login - BeatClique{% endblock %}

{% block content %}
<!-- Background Section -->
<section class="bg-dark d-flex justify-content-center align-items-center min-vh-100">
    <div class="container">
        <div class="card bg-white">
            <div class="card-body row">
                <!-- Photo on the left -->
                    <div class="col-md-6 d-none d-md-block">
                        <div class="card" style="border-radius: 50%; overflow: hidden;">
                            <img src="https://beatclique-assets.s3.eu-west-2.amazonaws.com/images/register/register_logo.webp" class="card-img-top rounded-circle" alt="Register Logo">
                        </div>
                    </div>
                <!-- Login Form -->
                <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <div class="card mb-3" style="width: 100%;">
                        <div class="card-body">
                            <h2 class="text-center mb-4">Login</h2>
                            <!-- Form for login -->
                            <form method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="id_username" class="form-label">Username:</label>
                                    <input type="text" class="form-control" name="username" id="id_username" autocomplete="username" required>
                                </div>
                                <div class="mb-3">
                                    <label for="id_password" class="form-label">Password:</label>
                                    <input type="password" class="form-control" name="password" id="id_password" autocomplete="current-password" required>
                                </div>
                                <div class="mb-3 d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary">Login</button>
                                </div>
                                {% if messages %}
                                    {% for message in messages %}
                                        <div class="alert alert-{{ message.tags }}" role="alert">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </form>
                            <!-- Navigation link to registration page for users without an account -->
                            <p class="mt-3 text-center">Don't have an account? <a href="{% url 'accounts:register' %}" class="btn btn-link">Register here</a></p>
                            <!-- Notice for account issues -->
                            <p class="text-center mt-4">
                                If you have any account issues, please contact <a href="mailto:beatclique.project@gmail.com">beatclique.project@gmail.com</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
