{% extends 'base.html' %}
{% load static %}

{% block title %}Register - BeatClique{% endblock %}

{% block content %}
<section class="bg-dark d-flex justify-content-center align-items-center min-vh-100">
    <div class="container">
        <div class="card bg-white">
            <div class="card-body row">
                <!-- Photo on the left -->
                <div class="col-md-6 d-none d-md-block">
                    <div class="card" style="border-radius: 50%; overflow: hidden;">
                        <img src="{% static 'images/register/register_logo.png' %}" class="card-img-top rounded-circle" alt="Register Logo">
                    </div>
                </div>
                <!-- Register Form -->
                <div class="col-md-6 d-flex align-items-center justify-content-center">
                    <div class="card mb-3" style="width: 100%;">
                        <div class="card-body">
                            <h2 class="text-center mb-4">Register</h2>
                            <!-- Form for registration -->
                            <form method="post">
                                {% csrf_token %}
                                <div class="row mb-2">
                                    <div class="col-md-6 text-end pe-2">
                                        <label for="username" class="form-label mb-0">Username:</label>
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.username }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6 text-end pe-2">
                                        <label for="email" class="form-label mb-0">Email:</label>
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6 text-end pe-2">
                                        <label for="password1" class="form-label mb-0">Password:</label>
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.password1 }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6 text-end pe-2">
                                        <label for="password2" class="form-label mb-0">Confirm Password:</label>
                                    </div>
                                    <div class="col-md-6">
                                        {{ form.password2 }}
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-6"></div> <!-- Empty column for spacing -->
                                    <div class="col-md-6 text-center">
                                        <button type="submit" class="btn btn-success">Register</button>
                                    </div>
                                </div>
                                {% if form.errors %}
                                <div class="row mb-2">
                                    <div class="col-md-6"></div> <!-- Empty column for spacing -->
                                    <div class="col-md-6">
                                        <div class="alert alert-danger" role="alert">
                                            Please correct the errors below.
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                            </form>
                            <p class="mt-3 text-center">Already have an account? <a href="{% url 'login' %}" class="btn btn-link">Login here</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
