{% extends 'base.html' %}
{% load static %}

{% block title %}Sound Kits{% endblock %}

{% block content %}
<!-- Listing of all available sound kits -->
<div class="container-fluid bg-dark">
    <div class="container pt-4">
        <h2 class="text-center text-light mb-4">Available Sound Kits</h2>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
            {% for soundkit in soundkits %}
            <div class="col mb-4">
                <!-- Each card with a shadow -->
                <div class="card bg-light text-dark h-100">
                    <!-- Rounded images -->
                    <img src="{{ soundkit.image.url }}" class="card-img-top rounded" alt="Cover image of {{ soundkit.name }}">
                    <div class="card-body">
                        <!-- Title -->
                        <h5 class="card-title">{{ soundkit.name }}</h5>
                        <!-- Title separator below the title -->
                        <hr class="my-3">
                        <!-- Truncated sound kit description-->
                        <p class="card-text">{{ soundkit.description|truncatechars:80 }}</p>
                        <!-- Price badge -->
                        <div class="d-flex justify-content-center align-items-center mb-3">
                            <span class="badge bg-dark text-white rounded-pill price-badge" style="font-size: 20px;">£{{ soundkit.price }}</span>
                        </div>
                        <!-- Styled buttons -->
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'soundkit_detail' soundkit.pk %}" class="btn btn-primary">More Info</a>
                            <a href="{% url 'cart:add_to_cart' soundkit.id %}" class="btn btn-success">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <!-- Display message when no sound kits are available -->
            <div class="col">
                <p class="text-center text-light">No sound kits available.</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
