body {
    background-color: #000000;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transform: rotate(45deg);
    border-radius: 50%;
    background-color: #ff00ff;
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
